<messageML>
  <card 
  class="barStyle"
  data-icon-src="{{icon}}"
  {{#if tempoAccent}}
    data-accent-color="tempo-bg-color--{{tempoAccent}}"
  {{/if}}
  >
    <header>
      {{> (headerPartial) header.details}}
    </header>
    {{#if body }}
      <body>
        {{> (bodyPartial) body.details}}
      </body>
    {{/if}}
  </card>
</messageML>
