/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

app-frontend/node_modules
app-frontend/coverage
app-frontend/.vscode
app-frontend.DS_Store
app-frontend/npm-debug.log
