/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

generator-ms-app/coverage
generator-ms-app/.vscode
generator-ms-app.DS_Store
generator-ms-app/npm-debug.log
node_modules
