/*
  COLORS
*/
$color-white: #fff;
$color-almost-white: rgba(153, 153, 153, 0.4);
$color-grey-white: #fbfbfb;
$color-black: #000;
$color-red: #d50935;

$color-primary: #006caf;
$color-secondary: #161616;

$color-main-text: #4d4d4d;
$color-link: #1589ee;
