{{#unless end}}
  <div>
    {{#if header}}
      <div style="padding-bottom: 3px;"><strong style="color: {{headerColor}}">{{{header}}}</strong></div>
    {{/if}}
    <div style="border-left: 3px solid {{accent}};">
      <div style="padding-left: 10px;">
{{/unless}}
{{#if end}}
      </div>
    </div>
  </div>
{{/if}}