{{> fake-card fakeCard }}
<div style="margin-top: 8px;">
  <strong>Description</strong>
  <div style="color: #6a707c;">
    <p>Epsilon aafa, fafa, adm,ngkadngkadga, fiasfksajfasjk, fsmakfmaskfsa, famskfsak</p>
  </div>
</div>
{{> fake-card fakeCard end=true }}
