<span style="
  font-size:0.8em;
  border-radius:2px;
  background-color: {{color}};
  padding: 2px;
  margin: 0 3px 0 0;">
  <span style="{{#if isAlone}}padding: 1px 4px;{{else}}padding: 1px 0 1px 4px;{{/if}} color: white;">
    {{action}}
  </span>
</span> 