.hello-world {
  margin: auto;
  width: 8em;
  color: $color-primary;
  text-align: center;
  border: 2px solid $color-secondary;
  border-radius: 3px;
  font-size: 2em;
  background-color: #181818
};
