<action id="{{buttonId}}" style="
    background-color: rgba(0,0,0,0);
    padding: 7px 22px;
    border-radius: 12px;
    position: fixed;
    color: #006caf;
    margin-bottom: 10px;
    border: 1px solid #006caf;
    line-height: 10px;
    font-size: 12px;
    "
    />
<p style="padding: 18px;"> </p>